html {
	font-size: 16px;
	font-family: 'Ewert', cursive;
}

body{
	position: absolute;
	margin: auto ;
	color: #223322;
	width:100%;
	height:100%;
	display: table;
	background: #8f7d67 url("../../img/bckg.jpg") repeat center top;
}

.div-left{
	position:absolute;
	width:50%;
	height:100%;
	text-align:right;
}

.div-right{
	position:absolute;
	left: 50%;
	width:50%;
	height:100%;
	text-align:left;
}

.container {
	transform: translate(0,30vh);
}

.title {
	font-size: 4rem;
	transform: translate(0,5vh);
}




        