<div id='blog-scrollview'>
    <div class='blog-container'>
        <div class="blog-links">
            <span id="left-page" class="blog-previous-link"><h3><u><span id="previousUrl"></span></u></h3></span>
            <span id="right-page" class="blog-next-link"><h3><u><span id="nextUrl"></span></u></h3></span>
        </div>
        <div class="blog-quote"><i><span id="cita"></span></i></div>
        <div class="blog">
            <div class="blog-title-image">
                <img src="https://s3-us-west-2.amazonaws.com/py4hacaller/imageTitle" alt=""/>
            </div>
            <div class="blog-title">
                <div class="text"><h1 id="postTitle">
                    <span id="title"></span>
                </h1></div>
            </div>
            <div class="blog-body">
                <div class="blog-sidebar">
                    <div class="blog-date">
                        <div class="blog-date-content" id="blog-date-content">
                            <span id="createdAt"></span>
                        </div>
                    </div>
                    <div class="blog-cat" id="blog-cat">
                    </div>
                    <div class="blog-social">
                        <tr><td><i class="fa fa fa-share-alt-square fa-2x"></i></td></tr>
                        <tr><td><i class="fa fa fa-twitter-square fa-2x"></i></td></tr>
                        <tr><td><i class="fa fa fa-linkedin-square fa-2x"></i></td></tr>
                    </div>
                </div>
            <div class="blog-content" id="blog-content">
                <span id="content-post"></span>
            </div>
            </div>
            <div class="blog-references">
                <h3><u>References</u></h3>
                <span id="references"></span>
            </div>
            <div class="blog-keywords">
                <h3><u>Keywords</u></h3>
                <span id="keywords"></span>
            </div>
        </div>
        <div class="blog-links">
                <span id="left-page2" class="blog-previous-link"><h3><u><span id="previousUrl"></span></u></h3></span>
                <span id="right-page2" class="blog-next-link"><h3><u><span id="nextUrl"></span></u></h3></span>
            </div>
        </div>
    </div>
</div>