<div class="footer" id="footer">
    <div class="box-footer">
        <div class="left-footer">
            Copyright © 2019 Hacagusae<br/><br/>
            <i class="fa fa-github-alt"></i> <a href="https://github.com/herb786">Github</a><br/>
            <i class="fa fa-legal"></i> Terms of Use<br/>
            <i class="fa fa-envelope"></i> <a href="mailto:alistair.caller@gmail.com">Contact</a>
        </div>
        <div class="right-footer">
            Powered by CherryPy<br/><br/>
            <img src="/static/img/google-cloud-logo.png" alt="" id="image4" class="img-logo-footer"/>
            <img src="/static/img/cherrypy.png" alt="" id="image2" class="img-logo-footer"/>
            <img src="/static/img/python-powered-h.svg" alt="" id="image3" class="img-logo-footer"/>
            <br/><br/>
        </div>
    </div>
</div>