<div class="toolbar" id="toolbar">
    <div class="item">
        <a href="/?lang=en">LOGBOOK</a>
    </div>
    <div class="item">
        <a href="/apps?lang=en">APPS</a>
    </div>
    <div class="item">
        <a href="/resources?lang=en">RESOURCES</a>
    </div>
    <div class="item">
        <a href="/about?lang=en">ABOUT</a>
    </div>
    <!--
    <div class="item">
        <a href="/contact">CONTACT</a>
    </div>
    -->
    <div class="item">
        <a href="/search">SEARCH</a>
    </div>
    <div class="item">
            <!--<a>🌐🗺</a>-->
            <select id="locales">
                <option value="es">🌐ES</option>
                <option value="en" selected>🇺🇸EN</option>
                <!--<option value="lat">🏛️LAT</option>-->
            </select>
    </div>
</div>