<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/main-theme/alasdair-top-bar.css">
<link rel="stylesheet" type="text/css" href="../static//css/main-theme/alasdair-stash.css">
<link rel="stylesheet" type="text/css" href="../static//css/main-theme/alasdair-blog.css">
<link rel="stylesheet" type="text/css" href="../static//css/main-theme/alasdair-content.css">
</head>
<body>
<div id="appbckg4" class="stash-app">
<div class="stash-app-image" style="background-image: url(../static/img/morse-bckg.png)"><img src="../static/img/logo-apruebame.png" alt="" id="image" /></div>
<div class="app-title"><h2>Ninja Executioner</h2></div>
<div class="app-content">This app is a calculator to get scores and grades. 
        It can be used to forecast your final score 
        and estimate the grade you will need to pass a course. 
        This version is in Spanish.</div>
<div class="app-store">
<a href="https://play.google.com/store/apps/details?id=com.hacaller.qualificator" target="_blank">
<img src="../static/img/google-play-badge.png" alt=""/>
</a>
</div>
<div class="app-store">
<a href="" target="_blank">
<img src="../static/img/app-store-badge.png" alt=""/>
</a>
</div>
</div>
</body>
</html>




