<html>
<head>
<link rel="stylesheet" type="text/css" href="../static//css/main-theme/alasdair-blog.css">
<link rel="stylesheet" type="text/css" href="../static//css/main-theme/alasdair-content.css">
</head>
<body>
<div class='blog-container'>
<div class="blog">
<div class='blog-body'>
<div class="blog-content" id="blog-content">
<table class="blog-table">
<thead>
<tr>
<th>Lenguaje</th>
<th>Por defecto</th>
<th>Otros</th>
</tr>
</thead>
<tbody>
<tr>
<td>Java</td>
<td>L'Ecuyer 99</td>
<td></td>
</tr>
<tr>
<td>C++</td>
<td>Mersenne Twister</td>
<td>RANLUX, Linear Congruential, Lagged Fibonacci  y más.</td>
</tr>
<tr>
<td>Python</td>
<td>Mersenne Twister</td>
<td>Wichmann-Hill</td>
</tr>
<tr>
<td>Php</td>
<td>Mersenne Twister</td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</body>
</html>




